body {
  font-family: $brand-font-body;
  background-color: $gray-15;
  color: #333;
}

h1 {
    font-family: $brand-font-headline;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

header,
section,
main,
section.controls div.accordion,
section.controls aside,
section.controls nav ul {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1024px;

  &.controls {
    max-width: unset;
    padding: 0;

    div.accordion, aside, nav ul {
      max-width: 1024px;
      margin: 0 auto;
      padding: 0;
    }

    aside {
      padding: 0.5rem;

      p {
        margin: 0;
      }
    }
  }

  &.data__wrapper {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}

a {
    border-bottom: 1px solid #f95346;
    color: #161a26;

    transition: all .3s ease-in-out;

    &:hover {
      border-bottom-color: #161a26;
    }
}

p {
  margin-bottom: 1.25rem;
}

.accordion-summary {
  font-size: 1rem;
}

.data__filters {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(5, 1fr);
  }
}