body {
  font-family: $brand-font-body;
  background-color: $gray-15;
  color: #333;
  padding: 20px;
}

h1, h2, h3 {
    font-family: $brand-font-headline;
}

h1 {
    font-size: 2.5rem;
}

main > * {
    margin-bottom: 20px;
}

.data__filters {
  /* Display this as a grid with four columns */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  
}