body {
  font-family: $brand-font-body;
  background-color: $gray-15;
  color: #333;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-family: $brand-font-headline;
}

h1 {
    font-size: 2.5rem;
}

main > * {
    margin-bottom: 20px;
}

a {
    border-bottom: 1px solid #f95346;
    color: #161a26;

    transition: all .3s ease-in-out;

    &:hover {
      border-bottom-color: #161a26;
    }
}

.accordion-summary {
  font-size: 1.5rem;
}

.data__filters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(5, 1fr);
  }
}