$coral: #f95346;
$white: #fff;
$gray-15: #f2f2f2; 
$gray-30: #e6e6e6; 
$gray-45: #cccccc; 
$gray-60: #999999; 
$gray-75: #666666; 
$gray-90: #333333; 
$black: #000;

$color-primary: $coral;
$color-white: $white;

$brand-font-headline: ivypresto-headline,sans-serif;
$brand-font-body:     neue-haas-grotesk-text, sans-serif;

:root {
  --coral: #f95346;
  --white: #fff;
  --gray-15: #f2f2f2;
  --gray-30: #e6e6e6;
  --gray-45: #cccccc;
  --gray-60: #999999;
  --gray-75: #666666;
  --gray-90: #333333;
  --black: #000;

  --color-primary: var(--coral);
  --color-white: var(--white);

  --brand-font-headline: ivypresto-headline, sans-serif;
  --brand-font-body: neue-haas-grotesk-text, sans-serif;
}