nav.data__nav {
    display: flex;
    justify-content: space-between;
    background-color: $gray-30;
    color: $color-white;
    padding: 0 16px;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $gray-30;
        width: 50%;

        li {
            list-style: none;
            align-items: center;
            display: flex;

            &.active {
                background-color: $gray-15;
            }

            &:hover {
                background-color: $gray-15;
            }

            a {
                text-decoration: none;
                color: #000;
                padding: 1rem;
                border-bottom: unset;
            }
        }
    }
}